.container {
    max-width: 450px;
    padding: 0 10px;
    border: 1px solid black;
}

.title {
    text-align: center;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.historyRow {
    width: 100%;
    text-align: center;
}